body {
	background-color: #FFFFFF;
}

a {
	color: #277B89;
}

h1 {
	color: #026475;
}

h2 {
	color: #1b9fb6;
}

h3 {
	color: #1b9fb6;
}

#MainContent {
	color: #585858;
}

#TopBanner .phone .text {
	color: #a59049;
}

#TopBanner .phone .text2 {
	color: #a3a3a3;
}

#TopBanner .phone .num {
	color: #FFFFFF;
}

#TopBanner .phone .num span {
	color: #C1E7D6;
}

#TopNav {
	text-shadow: 1px 1px 1px #fff;
	color: #3a3a3a;
}

#TopNav td {
}

#TopNav a {
	color: #3a3a3a;
	text-shadow: 1px 1px 1px #fff;
}

#TopNav a:hover {
	color: #14a58b;
}

.topcta {
	border-left: solid 1px #DCDCDC;
	border-bottom: 3px solid transparent;
}

.topcta:hover {
	border-bottom-color: #026475;
}

.topcta.lastitem {
	border-right: solid 1px #DCDCDC;
}

.ctabutton {
	color: #026475;
}

.topcta h5 {
	color: #0b6d7e;
}

.topcta .ctainfo {
	color: #a59049;
}

.topcta .ctatext {
	color: #545454;
}

.slidearea .slidetext .title {
	color: #A8E9FF;
}

.slidearea .slidetext .subtitle {
	color: #A8E9FF;
}

.slidearea .slidetext .description {
	color: #FFFFFF;
}

.slidearea .slidetext .description span {
	color: #A8E9FF;
}

.slidearea .slidetext .link a {
	color: #FFFFFF;
	background-color: #14a58b;
	border-bottom: solid 3px #000000;
	border-right: solid 3px #000000;
}

.slidearea .slidetext .link a:hover {
	color: #f5e060;
}

.SideNavHeader {
	color: #14a58b;
	border-bottom: 2px solid #cccccc;
}

.SideNavHeader a {
	color: #14a58b;
}

.SideNavHeader span {
	color: #b2d8ce;
}

.SideNavSubHeader {
	color: #fff;
}

.SideNavBox {
}

.SideNavBox .separator {
	background-color: #FFF;
}

.SideNavBox ul {
	background-color: #fafafa;
	border: 1px solid #e3e3e3;
}

.SideNavBox li {
	border-bottom: 1px solid #e3e3e3;
}

.SideNavBox li:last-child {
	border-bottom: none;
}

.SideNavBox .side a {
	color: #026475;
	border: 1px solid transparent;
	box-shadow: 0 0 0 1px transparent;
}

.SideNavBox .side a:hover, .SideNavBox .side .selected a {
	color: #FFFFFF;
	border: 1px solid #4fc8d9;
	box-shadow: 0 0 0 1px #3691e3;
	background-color: #1592a7;
	background-image: linear-gradient(to bottom, #1ea3b9 0%, #05687c 100%);
	background-image: -moz-linear-gradient(top, #1ea3b9 0%, #05687c 100%);
	background-image: -webkit-linear-gradient(top, #1ea3b9 0%, #05687c 100%);
	background-image: -o-linear-gradient(top, #1ea3b9 0%, #05687c 100%);
	background-image: -ms-linear-gradient(top, #1ea3b9 0%, #05687c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1ea3b9', endColorStr='#05687c',GradientType=0)\9;
}

.SideNavBox .side a .arrow {
	color: #30738e;
}

.SideNavButton a {
	background-color: #026475;
	color: #fff;
}

.feed .post a {
	color: #d95d50;
}

.feed .post a span {
	color: #717171;
}

.ContactMargin input, .ContactMargin textarea {
	border: none;
	background-color: #1b9fb6;
	color: #FFFFFF;
}

#FooterContent {
	color: #FFFFFF;
}

#FooterContent .left ul li a {
	color: #FFFFFF;
}

#FooterContent .left ul li a:hover {
	color: #44a9a1;
}

#FooterContent .middle a {
	color: #FFFFFF;
}

#FooterContent .middle a:hover {
	color: #44a9a1;
}

#FooterContent .middle .phone {
	color: #7e7e7e;
}

#FooterContent .right .text {
	color: #FFFFFF;
}

#FooterContent .right .call {
	color: #FFFFFF;
}

#FooterContent .right .phone {
	color: #c1e7d6;
}

#SocialLinks h5 {
	color: #4D88A0;
}

#Payments h5 {
	color: #4D88A0;
}

#TopBannerZone {
	background-color: #026475;
}

#TopNavZone {
	background: #f2fafb;
	border-bottom: solid 3px #cfe3e6;
	border-top: solid 3px #cfe3e6;
}

#FlashArea {
	background-color: #026475;
}

#TopCTAZone {
	background-color: #f2f2f2;
}

#BottomSection {
	background: #026475;
}

#BrandZone {
	background-color: #2C2C2C;
	color: #fff;
}
