@font-face {
    font-family: 'TrajanPro';
    src: url('trajanpro-regular-webfont.eot?') format('eot'),
         url('http://jwreachlocal.github.io/scorpion/fonts/www_comfortdentalimplants_com/trajanpro-regular-webfont.woff') format('woff'),
         url('http://jwreachlocal.github.io/scorpion/fonts/www_comfortdentalimplants_com/trajanpro-regular-webfont.ttf') format('truetype'),
         url('trajanpro-regular-webfont.svg#webfontHtEH0PzF') format('svg');
    font-weight: normal;
    font-style: normal;
}
